pandas>=2.2.0
requests>=2.32.0
python-dotenv>=1.0.1
tqdm>=4.66.0
pyarrow>=16.0.0
streamlit>=1.46.0
plotly>=6.0.0
youtube-transcript-api>=1.2.4
yt-dlp>=2025.12.31
faster-whisper>=1.2.0
beautifulsoup4>=4.12.3
selenium>=4.30.0
